<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/checkout.css"   th:href="'/styles/checkout.css'" />
    <style>
        ul {
        color: black;
        }
    </style>

</head>
<body>
<div class="header">

    <h1><a th:class="a-tag" th:href="'/nicetohave'">Nice to have</a></h1>
    <ul>
        <li>Ny annons</li>
        <li>Logga in</li>
        <li>Bli medlem</li>
    </ul>
    <button class="cart-btn"><i class='bx bxs-cart' th:text="${cartSize}"></i> Varukorg</button>

</div>
<ul th:class="checkout-products" th:each="item: ${cartArray}">
    <li th:text="${item.getName}"></li>
    <li th:text="${item.getPrice}"></li>
</ul>
</body>
</html>