<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/styles/product.css"   th:href="'/styles/product.css'" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       a-tag {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
<div class="header">

    <h1><a th:class="a-tag" th:href="'/nicetohave'">Nice to have</a></h1>
    <ul>
        <li>Ny annons</li>
        <li>Logga in</li>
        <li>Bli medlem</li>
    </ul>
    <button class="cart-btn"><i class='bx bxs-cart' th:text="${cartArray}"></i> Varukorg</button>


</div>


<div th:class="productInfo">
<article th:class="product">


        <div th:class="product-div">
            <img th:class="name" th:src="${product.getImage()}" alt=""/>
            <div th:class="product-text">
            <p th:class="name" th:text="${product.getCathegory()}" />
            <p th:class="name" th:text="${product.getName()}"></p>
            <p th:class="name" th:text="${product.getPrice()} + ' kr'"></p>
            <p th:class="name" th:text="${product.getDescription()}"></p>
            <form th:action="@{'/nicetohave/' + ${product.getId()}}" method="post">
                <input type="submit" th:class="buy" value="KÖP"></input>
            </form>
            </div>
        </div>


</article>
</div>
</body>
</html>