<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Nice to have</title>
  <link rel="stylesheet" href="/styles/style.css"   th:href="'/styles/style.css'" />

  />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 <!--   <style>
        img {
            width: 200px;
            height: 200px;
        }
    </style>-->
</head>
<body>
<div class="header">

    <h1>Nice to have</h1>
    <ul>
        <li>Ny annons</li>
        <li>Logga in</li>
        <li>Bli medlem</li>
    </ul>
    <button class="cart-btn"><i class='bx bxs-cart'></i> Varukorg</button>


</div>

<div th:class="products">
    <article th:each="product: ${products}" th:class="product">
        <p th:class="name" th:text="${product.getCathegory()}" />
        <p th:class="name" th:text="${product.getName()}"></p>
        <p th:class="name" th:text="${product.getPrice()}"></p>
        <img th:class="name" th:src="${product.getImage()}" alt=""/>
        <button th:class="see-more-btn" ><a th:href="'/nicetohave/' + ${product.getId()}">Se mer</a></button>

    </article>
</div>


</body>
</html>