<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Nice to have</title>
  <link rel="stylesheet" href="/styles/style.css"   th:href="'/styles/style.css'" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="header" th:fragment="header" >

    <h1>Nice to have</h1>
    <ul>
        <li><a th:class="newpost-a-tag" th:href="'/nicetohave/newpost'"/>Ny annons</a></li>
        <li> <a th:class="newpost-a-tag" th:href="'/nicetohave/login'">Logga in</a></li>
        <li> <a th:class="newpost-a-tag" th:href="'/nicetohave/register'">Bli medlem</a></li>
    </ul>
    <button class="cart-btn" th:onclick="toggleCart()"><i class='bx bxs-cart' th:text="${cartSize}"></i>Varukorg</button>

</div>

<div th:class="customer-cart" >
        <div th:class="cart-items">
        <ul th:class="itemlist" th:each="item: ${cartArray}">

            <li th:class="product-name" th:text="${item.name}"></li>
            <li th:class="product-price"th:text="${item.price} + ' kr'"></li>
            <a th:href="'/nicetohave/delete/'+${item.id}" th:class="delete-btn"><i class='bx bxs-trash'></i></a>

        </ul>

        </div>
    <div>
    <p th:text="'Totalt: ' + ${sum} + ' kr'"></p>
    <button class="checkout-btn"><a th:href="'/nicetohave/checkout'">Checkout</a></button>
    </div>
</div>

<div th:class="products">
    <article th:each="product: ${products}" th:class="product">
        <a th:href="'/nicetohave/' + ${product.getId()}"><img th:class="name" th:src="${product.getImage()}" alt=""></a>
        <p th:class="name"><a th:href="'/nicetohave/' + ${product.getId()}">[[${product.getName()}]]</a></p>


            <p th:class="price" th:text="${product.getPrice()} + ' kr'"></p>

    </article>
</div>

<script>
    const cart = document.querySelector(".customer-cart");

    function toggleCart() {

      cart.classList.add("show");

    }
</script>
</body>
</html>