<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nice to have</title>
  <link rel="stylesheet" href="/styles/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<div class="header">

    <h1>Nice to have</h1>
    <ul>
        <li>Ny annons</li>
        <li>Logga in</li>
        <li>Bli medlem</li>
    </ul>
    <button class="cart-btn"><i class='bx bxs-cart'></i> Varukorg</button>


</div>
</body>
</html>