<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Min sida</title>
    <link rel="stylesheet" href="/styles/userpage.css" th:href="'/styles/userpage.css'"/>
</head>
<body>
<div class="header" th:fragment="header" >

    <h1>Nice to have</h1>
    <ul>
        <li><a th:class="newpost-a-tag" th:href="'/nicetohave/newpost'"/>Ny annons</a></li>
        <li> <a th:class="newpost-a-tag" th:href="'/nicetohave/login'">Logga in</a></li>
        <li> <a th:class="newpost-a-tag" th:href="'/nicetohave/register'">Bli medlem</a></li>
    </ul>
    <h2 th:text="'Välkommen ' + ${user}">Välkommen!</h2>
    <a th:href="'/nicetohave'"><img src="/images/nicetohave.jpg" class="center"></a>

</div>


</body>
</html>