.main-form{
display: flex;
margin-top: 100px;
flex-direction: column;
align-items: center;
background-color: #d6e4e4;

}
body{
justify-content: space-around;
flex-direction: row;
background-color: #d6e4e4;

}
.h1-login{
color: black;
background-color: #d6e4e4;
}
.loginform{
padding: 20px;
display: flex;
flex-direction: column;
background-color: #d6e4e4;
width:500px;
}
input{
padding: 10px;
margin: 10px;
width: 100%;
}

