.newpost-form {
display:flex;
flex-direction: column;
align-items: center;
width: 600px;
}
body{
display:flex;
align-items: center;
}

input{
padding: 10px;
margin: 10px;
  width: 100%;

}
select{
padding: 10px;
margin 10px;
width: 100%;
}
.h1-newpost{
    color: black;
    font-family: 'Tilt Neon', cursive;
    color: black;
    font-size: 30px;
    z-index: 2;
    margin-bottom: 10px;

}
.fullform{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    padding: 30px;
    margin 10px;
    background-color: #d6e4e4;
}
.description{
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;


}





