.productInfo{
margin-top:100px;
}
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1px solid pink;
}

h1 {
    font-family: 'Tilt Neon', cursive;
    color: white;
    font-size: 30px;
    z-index: 2;
}

h1 a {
    text-decoration: none;
    color: white;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: teal;

}



.search-field {
    position: absolute;
    left: 50%;

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tilt Neon', cursive;
    list-style: none;
}

li {
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: white;
}

.cart-btn {
    border: 1px dotted black;
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}

.bxs-cart {
    margin-right: 5px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.productInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy {
    background-color: teal;
     color: white;
     border: none;
     border-radius: 5px;
     padding: 8px;
     font-size: 18px;
     letter-spacing: 0.5px;
     cursor: pointer;
}

.product-text {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
}

.customer-cart {
    width: 400px;
    height: 400px;
    position: absolute;
    right: -100%;
    top: 12%;
    background: lightgray;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.itemlist {
    display: flex;
}

.itemlist li {
    margin-bottom: 8px;
    color: black;
}

.show {
      right: 0;
}

.checkout-btn {
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    letter-spacing: 0.5px;

}

.checkout-btn a {
    text-decoration: none;
    color: white;
}

.checkout-btn:active {
    transform: translateY(2px);
}

.price {
    font-weight: 800;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-item: center;
    width: 100%;
    margin-top: 10px;
}
