@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1px solid pink;
    font-family: 'Tilt Neon', cursive;
    overflow-x: hidden;
}

h1 {
    color: purple;
    font-family: 'Tilt Neon', cursive;
    color: white;
    font-size: 30px;
    z-index: 2;


}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: teal;

}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tilt Neon', cursive;
    list-style: none;
}

li {
    margin-left: 30px;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: white;
}

.newpost-a-tag {
    text-decoration: none;
    color: white;
}

.cart-btn {
    border: 1px dotted black;
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
}

.cart-btn:active {
     transform: translateY(2px);
}

.bxs-cart {
    margin-right: 5px;
}
.bxs-trash {
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.products {
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px 100px;
}

.product {
    margin-right: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    color: black;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.name a {
    text-decoration: none;
}

img {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
}

.see-more-btn {
     font-family: 'Tilt Neon', cursive;
     background: teal;
     color: white;
     padding: 10px;
     border: none;
     border-radius: 5px;
}

.see-more-btn a {
    text-decoration: none;
    color: white;
}

.customer-cart {
    width: 400px;
    height: 400px;
    position: absolute;
    right: -100%;
    top: 12%;
    background: lightgray;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 20px 0px;
}

.cart-items {
    height: 42vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.itemlist {
    display: flex;
    justify-content: flex-start!important;
    align-items: center!important;
    padding: 0px;
}

.itemlist li {
    margin-bottom: 8px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-name {
    width: 150px;
}

.product-price {
    width: 110px;
}

.show {
      right: 0;
}

.checkout-btn {
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 8px;

}

.checkout-btn a {
    text-decoration: none;
    color: white;
}

.checkout-btn:active {
    transform: translateY(2px);
}

.price {
    font-weight: 800;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-item: center;
    width: 100%;
    margin-top: 10px;
}

.filter {
    display: flex;
    margin-top: 70px!important;
    z-index: 10;
}


